# Virtual environment
env/
venv/

# Byte-compiled / cached
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Dataset files (if applicable)
*.csv
*.tsv
*.json
*.xlsx
*.db

# Large model files
*.h5
*.pth
*.pkl
*.joblib

# System-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
